@model FristStore.Models.ProductReport

@{
    ViewData["Title"] = "Product Report Details";
}

<h1>Product Report Details</h1>

<div>
    <h4>Product Report</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPurchases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPurchases)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
